.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:start;
  padding-right: 10%;
}

.contentTitle{
  width: 100%;
  align-items: center;
}

.App > div{
  display: flex;
  justify-content: space-between;
}

.App > div > h1{
  color: black;
  font-weight: 600;
  margin-left: 8.8%
}

.App > div > button{
  width: 19%;
  height: 45px;
  padding: 5px;
  background-color: #555A88;
  border: none;
  color: #FFFFFF;
  margin-right: 6.5%;
}


/***********************************UsersList*************************************/
.contentAllList{
  margin-left: 10px;
  padding-left: 20px;
}

.contentUsersList{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2%;
}
.usersList{
  width: 100%;
}

.card {
  width: 31%;
  height:260px;
  padding-left: 3%;
  padding-right: 3%;
  border: 2px solid rgb(214, 214, 214);
  FLOAT: left;
  MARGIN: 1% 1%; 
}

.userName {
  padding-bottom: 1%;
  padding-top: 2%;
  border-bottom: 1px solid #d1d1d1;
}

.emailAndBirthday {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  Line-height: 19px;
  Line-height: 100%;
  text-align: left;
  justify-content: center;
  fill: solid;
  color:  #d3d3d3;
}

.divButton{
  display: flex;
  justify-content: right;
  align-items: center;
}

.deleteicon{
  width: 43px;
  height: 43px;
  color: #FFFFFF;
  border-color: #D93F3F;
  border-radius: 4px;
  text-align: center;
  margin: 2px;
  background-color: #D85D5D;
}
.editicon{
  width: 43px;
  height: 43px;
  color: #D3D3D3;
  border-color: #BDBDBD;
  border-radius: 4px;
  text-align: center;
  background-color: #F6F6F6;
}

.title {
  padding-bottom: 1%;
  border-bottom: 1px solid rgb(241, 241, 241);
}

.user{
  width: 1440px;
  height: 1024px;
  top: -903;
  left: 5335px;
}

ul {
  list-style: none;
}



/******************************UsersForm********************************/

.contentForm {
  width: 20%;
  height: 70%;
  align-items: center;
  position: fixed;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgb(214, 214, 214);
  margin-left: 35%;
  background-color: #FFFFFF;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
}

.cardForm{
  box-shadow: 2px 2px 8px rgba (0, 0, 0, .3);
  padding: 10%;
  border-radius: 10px; 
  width: 100%;
  position: relative;
}

.gift{
    display: flex;
    padding: 1.5px;
    align-items: baseline;
  }

.gift i{
margin-right: 5px;
}  

.containerDates {
  margin-bottom: 4%;
}

input{
  width: 100%;
  background-color: #f5f4f4;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 4px;
}

.containerDates > p {
color: black;
font-weight: 600;
}

.buttonAdd {
  width: 100%;
  padding: 5px;
  background-color: #555A88;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  cursor: pointer;
}

.container button.cancel{
  width: 100%;
  padding: 5px;
  background-color: #D85D5D;
  color: #FFFFFF;
  font-weight: 600;
}

.cardForm{
  width: 100%;
}

.close{
  width: 10%;
  height: 30px;
  padding: 5px;
  background-color:transparent;
  color: #000000;
  border: none;
  font-size: 1.5em;
  font-weight: 600;
  position: absolute;
  top: -10px;
  right: 20px;
}
